/*MAIN*/
#LV_BT_COMPRAR span i:before,
.prod-botao-comprar .fa-shopping-cart:before {
    content: "\e9ca";
    font-family: "icomoon";
    position: relative;
}
body{
	font-family: 'Lato', sans-serif;
}
@media (min-width: 1400px) {
	.container {
		width: 1400px;
	}
}
.slick-arrow {
	font-size: 2rem;
	line-height: 4rem;
}

/*HEADER*/
.container-fluid{
	padding: 0;
}
#main{
	padding-top: 12rem;
}
header{
	background-color: <!--###PREF_1###-->;
	box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.1);
	color: <!--###PREF_4###-->;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
}
header .topo {
    display: block;
    float: left;
    width: calc(100% - 60rem);
}
header .input-busca {
	background-color: white;
    border: 1px solid #e2e3e4;
	box-shadow: 0 0 50px 1px rgba(125,125,125,0.3);
	color: #666;
	display: block;
	font-size: 1.6rem;
	height: 5rem;
	line-height: 5rem;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
}
header .botao-busca {
	background-color: #333;
	border: 0;
	color: white;
	display: block;
	font-size: 1.6rem;
	margin: 0;
	padding: 0 2rem;
	position: absolute;
	right: 0;
	text-align: center;
	text-transform: uppercase;
	top: 0;
}
header .logo-holder{
	display: block;
	float: left;
	width: 30rem;
}
header .logotipo {
	height: 12rem;
	margin: 0;
	transition: 300ms ease;
}
header.header-fixed .logotipo {
    height: 8rem;
}
header .logotipo a {
	display: block;
	height: 100%;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	text-align: center;
	width: 100%;
}
header .logotipo a img{
	bottom: 0;
	display: block;
	height: auto;
	left: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}
header .div-carrinho {
	display: inline-block;
    margin: 0;
    position: relative;
    width: 5rem;
}
header .div-carrinho .fa-shopping-cart {
	border: 0;
	color: <!--###PREF_6###-->;
	display: block;
	font-size: inherit;
	height: 5rem;
	line-height: 5rem;
	padding: 0;
	text-align: center;
	width: 100%;
}
header .buttons-topo {
    display: block;
    float: left;
    height: 12rem;
    padding: 3.5rem;
    transition: 300ms ease;
    width: 30rem;
}
header .buttons-topo .search-toggle {
    background: none;
    border: none;
    height: 5rem;
    width: 100%;
}
header .buttons-topo fieldset {
	display: none;
	position: absolute;
	right: 100%;
	top: 0;
	width: 100rem;
	z-index: 999;
}
header.header-fixed .buttons-topo{
	height: 8rem;
	padding: 1.5rem 3.5rem;
}
header .buttons-topo > a,
header .buttons-topo > div {
	background-color: <!--###PREF_2###-->;
	color: <!--###PREF_5###-->;
    display: block;
    float: left;
    font-size: 2.6rem;
    height: 5rem;
    line-height: 5rem;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    transition: 200ms ease;
    width: 30%;
    width: calc(100% / 3);
}
header .buttons-topo > a:hover,
header .buttons-topo > div:hover{
    background-color: <!--###PREF_5###-->;
    color: <!--###PREF_2###-->;
}
header .buttons-topo > a.link-meus-pedidos span{
    color: <!--###PREF_5###-->;
	display: block;
	font-size: 2.6rem;
	line-height: 5rem;
	padding: 0;
	text-align: center;
	width: 100%;
}
header .buttons-topo > a.link-meus-pedidos:hover span{
    color: <!--###PREF_2###-->;
}
header .div-carrinho .tooltip-carrinho {
	background-color: <!--###PREF_5###-->;
    border: 1px solid <!--###PREF_2###-->;
	border-radius: 50%;
	color: <!--###PREF_2###-->;
	display: block;
	font-family: monospace;
	font-size: 14px;
	height: 2rem;
	line-height: 2rem;
	position: absolute;
	right: -1.1rem;
	text-align: center;
	top: -0.6rem;
	width: 2rem;
}
header .div-carrinho:hover .tooltip-carrinho {
    background-color: <!--###PREF_2###-->;
    border: 1px solid <!--###PREF_5###-->;
    color: <!--###PREF_5###-->;
}
header .div-carrinho > span {
    position: relative;
}
header #LV_CARRINHO_ON_PAGE {
	background-color: white;
	border-radius: 4px;
	border: 1px solid #d7d7d7;
	color: #333;
	font-size: 1.4rem;
	min-width: 50rem;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	right: -1px;
	top: 20rem;
	transition: top 0.3s ease, opacity 0.2s ease, visibility 0.1s ease;
	transition-delay: 0s, 0s, 0.1s;
	visibility: hidden;
	width: 100%;
	z-index: 99;
}
header .div-carrinho:hover #LV_CARRINHO_ON_PAGE {
	opacity: 1;
	top: 100%;
	transition: top 0.3s ease, opacity 0.2s ease;
	visibility: visible;
}
header #LV_CARRINHO_ON_PAGE img {
	display: none;
}
header #LV_CARRINHO_ON_PAGE .CarOnPageTotal {
	background-color: #d2d2d2;
	color: black;
	display: inline-block;
	float: left;
	line-height: 3rem;
	padding: 0 1rem;
	text-align: right;
	width: 100%;
}
header #LV_CARRINHO_ON_PAGE .TabelaCarOnPage {
	width: 100%;
}
header #LV_CARRINHO_ON_PAGE .DivCarOnPageBotoes {
	background-color: <!--###PREF_41###-->;
	border-radius: 4px;
	color: <!--###PREF_40###-->;
	display: inline-block;
	float: left;
	margin: 0.5rem 0 0;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s ease;
	width: 100%;
}
header #LV_CARRINHO_ON_PAGE .DivCarOnPageBotoes:hover {
	opacity: 0.7;
}
header #LV_CARRINHO_ON_PAGE .DivCarOnPageBotoes a:hover{
	text-decoration: none;
}
header #LV_CARRINHO_ON_PAGE .CarOnPageTotal label {
	margin: 0;
}
header #LV_CARRINHO_ON_PAGE .CarOnPageTotal span {
	font-weight: 600;
	margin-right: 1rem;
}
tr.TrCarOnPage {
	background-color: #d2d2d2;
	color: black;
	line-height: 3rem;
}
tr.TrCarOnPage td {
	font-weight: 600;
	padding: 0 1rem;
	text-align: center;
}
span.CarOnPageCodigoProduto {
	display: block;
}
.DivDadosProdCarOnPage {
	font-size: 12px;
}
/*HEADER MOBILE*/
#header-mobile {
	background-color: <!--###PREF_1###-->;
	padding: 1rem;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 97;
}
#mobile-placeholder {
	display: block;
	position: relative;
	width: 100%;
	clear: both;
}
#header-mobile .link-menu{
	border-radius: 4px;
	display: inline-block;
	float: left;
	font-size: 3rem;
	height: 4rem;
	text-align: center;
	width: 4rem;
}
#header-mobile .link-carrinho-mobile{
	border-radius: 4px;
	display: inline-block;
	float: right;
	font-size: 3rem;
	height: 4rem;
	text-align: center;
	width: 4rem;
}
#header-mobile .link-user span,
#header-mobile .link-carrinho-mobile span,
#header-mobile .link-menu span {
	color: <!--###PREF_4###-->;
	line-height: 4rem;
	line-height: calc(4rem - 2px);
	width: 100%;
}
#header-mobile .logo-container .LV_LogotipoImg, #header-mobile .logo-container .LV_LOGO_TOPO {
	display: block;
	float: left;
	height: 10rem;
	margin: 0 3rem 1rem;
	position: relative;
	transition: 300ms ease;
	width: 100%;
	width: calc(100% - 14rem);
}
#header-mobile .logo-container .LV_LogotipoImg img, #header-mobile .logo-container .LV_LOGO_TOPO img {
	bottom: 0;
	left: 0;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	right: 0;
	top: 0;
}
#header-mobile fieldset {
	display: block;
	float: left;
	position: relative;
	width: 100%;
}
#header-mobile fieldset .input-busca {
	background-color: white;
	border: 0;
	font-size: 14px;
	height: 4rem;
	line-height: 4rem;
	padding: 0 1rem;
	width: 100%;
}
#header-mobile fieldset .botao-busca {
	background: none;
	border: 0;
	color: #666666;
	color: <!--###PREF_5###-->;
	height: 4rem;
	position: absolute;
	right: 0;
	top: 0;
	width: 4rem;
}
#header-mobile.header-fixed .LV_LogotipoImg, #header-mobile.header-fixed .LV_LOGO_TOPO {
	height: 4rem;
	margin: 0 3rem;
}
#header-mobile.header-fixed .nav-mobile {
	display: none;
}

header.active nav.menu-topo {
    margin: 0.5rem 0;
}
header.active .logotipo {
    height: 6rem;
}
header.active .logotipo a, header.active .logotipo img {
    padding: 5px;
}
header.active .buttons-topo {
    height: 6rem;
    padding: 0.5rem 3.5rem;
}

/*NAVBAR*/
nav#float-menu, nav.menu-topo{
	border: 0;
	border-radius: 0;
	margin-bottom: 0;
	width: 100%;
}
nav.menu-topo{
	background: none;
	display: block;
	float: left;
	margin: 3.5rem 0;
	transition: 300ms ease;
}
header.header-fixed nav.menu-topo {
    margin: 2rem 0;
}
.todo-departamento {
	display: none;
}
.departamentos-nav{
	font-family: "Roboto Condensed";
	font-weight: 300;
	letter-spacing: 2px;
	text-align: center;
	width: 100%;
}
.departamentos-nav li{
	position: relative;
	text-align: left;
}
.departamentos-nav ul{
	background-color: <!--###PREF_13###-->;
	display: none;
	transition: 150ms ease;
}
.departamentos-nav ul li:hover > ul{
	left: 100%;
	opacity: 1;
	transition: 150ms ease;
	visibility: visible;
	top: 0;
}
.departamentos-nav > li > ul {
	color: <!--###PREF_8###-->;
	position: absolute;
	min-width: 20rem;
	width: 100%;
	z-index: 99;
}
.departamentos-nav ul li ul{
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.09);
	left: 100%;
	position: absolute;
	width: 100%;
}
.departamentos-nav ul a {
	display: inline-block;
	line-height: 2rem;
	padding: 0.7rem 1rem;
	width: 100%;
}
.departamentos-nav ul li:hover > a {
	background-color: <!--###PREF_12###-->;
	color: <!--###PREF_7###-->;
}
.departamentos-nav > li:hover > ul{
	box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.09);
	top: 100%;
	transition: 150ms ease;
}
.departamentos-nav ul .com-sub:after {
	content: "\f105";
	font-family: FontAwesome;
	position: absolute;
	right: 1rem;
}
.departamentos-nav > li{
	display: inline-block;
	position: relative;
	text-align: center;
}
.departamentos-nav > li > a{
	color: <!--###PREF_4###-->;
	display: block;
	font-family: "Roboto Condensed";
	font-size: 1.6rem;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 2rem;
	margin: 0;
	padding: 1.5rem 2rem;
	text-transform: uppercase;
	transition: 300ms ease;
}
header.header-fixed .departamentos-nav > li > a {
    padding: 1rem 2rem;
}
.departamentos-nav > li:hover > a {
	background-color: <!--###PREF_13###-->;
	color: <!--###PREF_8###-->;
}
header .departamentos-nav > li:before {
	background-color: <!--###PREF_7###-->;
	border-radius: 50%;
	color: <!--###PREF_7###-->;
	content: "+";
	display: inline-block;
	font-size: 0;
	height: 6px;
	line-height: 1rem;
	position: absolute;
	left: -3px;
	text-align: center;
	top: calc(50% - 4px);
	width: 6px;
	z-index: 999;
}
.departamentos-nav > li:first-child:before {
    display: none;
}

/*PLACEHOLDER PRODUTO*/
.prod-fake .prod-img a{
	background-color: #f2f2f2;
}
.prod-fake .prod-img a img{
	max-height: 50%;
	opacity: 0.5
}

/*MEDIAS*/
@media screen and (min-width: 768px){
	#carrinho-drawer {
	    top: 12rem;
	}
	#header-mobile, #mobile-placeholder{
		display: none;
	}
	.dados-produto-mobile{
		display: none;
	}
}
@media screen and (max-width: 767px){
	.item-tipo-lista .prod-info{
		width: 55% 
	}
	.item-tipo-lista .prod-img{
		width: 45%;
	}
	footer #cnpj-footer{
		text-align: left;
		width: 100%;
	}
	.PageCheckout header{
		display: none;
	}
	.paginacao-ordem{
		font-size: 12px;
	}
	#preco-produto{
		margin-bottom: 1rem;
	}
	#preco-produto > p{
		margin-bottom: 1rem;
	}
	#main{
		padding-top: 17rem;
	}
	.departamentos-nav > li:before`{
		display: none;
	}
}
@media screen and (max-width: 480px){
	.div-item .add span.prod-lancamento{
		float: right;
	}
	#lista-parcelas{
		column-count: 1;
	}
}
@media screen and (max-width: 374px){
	.list-item.col-xs-6{
		width: 100%;
	}
}
@media screen and (max-width: 991px){
	.newsletter-footer fieldset > div {
		margin-bottom: 1rem;
	}
	footer .footer-content .contato{
		clear: left;
	}
	footer .footer-content .institucional{
		clear: both;
	}
}

/*ANIMACOES E EFEITOS*/
#botao-news, .botao-busca {
	transition: 150ms ease;
}
#botao-news:hover, .botao-busca:hover {
	opacity: 0.8!important;
}
#botao-news, .botao-busca {
	will-change: opacity;
}

#prod-destaque .div-item{
	padding: 0;
}
footer h3 {
    border-bottom: 1px solid <!--###PREF_32###-->;
    color: <!--###PREF_32###-->;
    font-family: "Roboto Condensed";
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 3rem;
    margin: 0 0 1rem;
    text-transform: uppercase;
}

#lista-migalha li a.active {
    font-family: "Roboto Condensed";
    font-size: 24px;
    font-weight: 300;
    letter-spacing: 2px;
}
#prod-destaque .div-item .prod-info .prod-nome {
    height: unset;
}
#prod-destaque .div-item .prod-info .prod-nome a {
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.2;
}
footer .input-news {
    background-color: white;
    border: 0;
    border-radius: 0;
    line-height: 4rem;
    margin: 0;
    padding: 0 1rem;
    position: relative;
    transition: 300ms ease;
    width: 100%;
}
footer .footer-content fieldset {
    background-color: #666666;
    color: white;
    padding: 2rem 1rem;
}
footer .footer-content fieldset div {
    margin: 0;
}
footer .footer-content fieldset .newsletter-titulo p {
    display: inline-block;
    font-family: "Roboto Condensed";
    font-size: 2rem;
    font-weight: 300;
    height: 4rem;
    line-height: 4rem;
    margin: 0;
    text-transform: uppercase;
}
footer #botao-news{
	border-radius: 0;
	border: 0;
	display: block;
	font-size: 1.6rem;
	font-weight: 600;
	height: 4rem;
	line-height: 4rem;
	padding: 0;
	position: relative;
	right: 0;
	top: 0;
	width: 100%;
}
footer #botao-news i{
	display: none;
}
footer .newsletter-footer {
    background-color: <!--###PREF_29###-->;
    padding: 6rem 0;
}

footer .newsletter-footer fieldset{
	background-color: <!--###PREF_30###-->;
    padding: 2rem 0 5rem;
    margin: 0 1rem;
}
footer .newsletter-footer p {
	font-size: 2.2rem;
	height: 7rem;
	line-height: 5rem;
	padding: 1rem 0;
	text-align: center;
}

#fabricantes .slick-arrow {
	background-color: <!--###PREF_48###-->;
	color: white;
	font-size: 4rem;
	height: 5rem;
	line-height: 5rem;
	padding: 0;
	text-align: center;
	top: calc(50% - 2.5rem);
	width: 4rem;
}
.div-migalha {
    padding: 2rem 1rem;
}

select#LV_COMBO_ORDEM {
    border-radius: 0;
    border: 0;
    line-height: 4rem;
    height: 4rem;
}
.lista-grade a {
    border-radius: 0!important;
    border: 0;
    padding: 1rem;
    height: 4rem;
}
.lista-grade a:first-child {
    border-right: 1px solid #d7d7d7;
}
.lista-paginacao li a {
    width: 4rem;
    padding: 1rem 0;
}
.lista-paginacao li {
    border: 0!important;
}

#lista-login {
	background-color: <!--###PREF_5###-->;
	color: <!--###PREF_2###-->;
	display: block;
	min-width: 15rem;
	opacity: 0;
	padding: 1rem 2rem;
	position: absolute;
	right: 0;
	text-align: right;
	top: 100%;
	top: calc(100% + 1rem);
	transition: 300ms ease;
	transition-delay: 0;
	visibility: hidden;
}
.link-pedidos:hover #lista-login{
	opacity: 1;
	visibility: visible;
}

#lista-login:after {
	border-bottom: 10px solid <!--###PREF_5###-->;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	bottom: 100%;
	content: '';
	height: 0;
	position: absolute;
	right: 3rem;
	width: 0;
}
#lista-login li {
    line-height: 2rem;
}
#lista-login li a {
	font-size: 14px;
	line-height: 2rem;
}

.news-lateral,
#filtros-lateral,
#menu-lateral {
	border: 0;
	border-radius: 0;
}