<!--###TOPO###-->

<section id="slider">
    <div class="container">
        <!--###BARRA###-->
    </div>
</section>

<section id="produtos" class="produtos-listagem">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 div-migalha">
                <ul id="lista-migalha"></ul>
            </div>

            <div id="div-barra-esquerda" class="hidden hidden-xs col-xs-3"><!--###BARRA_ESQUERDA###--><div id="banner-lateralEsq"></div></div>

            <div id="div-conteudo" class="col-sm-12 col-xs-12 no-gutter">
                <div class="col-xs-12 paginacao-ordem">
                    <div class="paginacao-select">

                        <span class="combo-ordem">
                            <label for="LV_COMBO_ORDEM">Ordenar</label>
                            <select id="LV_COMBO_ORDEM" class="LV_COMBO_ORDEM">
                                <option value="PROD.PROD_NOME">A - Z</option>
                                <option value="PROD.PROD_NOME DESC">Z - A</option>
                                <option value="PRECO_ORDEM">Menor pre&ccedil;o</option>
                                <option value="PRECO_ORDEM DESC">Maior pre&ccedil;o</option>
                            </select>
                        </span>

                    </div>

                    <div class="text-right lista-grade">

                        <a href="javascript:void(FuncaoMudarTipoLista('G'))" id="LV_LINK_TIPOLISTA_GRADE"><i class="fa fa-th-large"></i></a>
                        <a href="javascript:void(FuncaoMudarTipoLista('L'))" id="LV_LINK_TIPOLISTA_LISTA"><i class="fa fa-list"></i></a>

                    </div>
                    
                </div>

                <!--##PRELOADER1.0##-->

                <ul id="prod-list" class="col-xs-12 no-gutter"></ul> 

                <div class="col-xs-12">
                    <div class="paginacao-bottom">
                        <span class="resultado-paginacao"></span>
                        <ul class="lista-paginacao"></ul>
                    </div>
                </div>

            </div>

            <div id="banner-rodape"></div>

        </div>
    </div>
</section>

<div id="template" class="hidden">
    <!--##BLOCO_PRODUTO1.1##-->
</div>

<!--###RODAPE###-->

<!--###COMPLEMENTO###-->