<!--###TOPO###-->

<section id="interna" class="container">
    <div class="row">
        <div id="div-barra-esquerda" class="hidden hidden-xs col-xs-3">
        	<div class="news-lateral">
                <div class="col-xs-12 newsletter-titulo">
                    <p>Cadastre-se na nossa newsletter</p>
                </div>

                <fieldset>

                    <div class="campo-nome">
                        <span id="nome-news2-tooltip">nome</span>
                        <label for="nome-news2"><i class="fa fa-user-o" aria-hidden="true"></i></label>
                        <input type="text" class="input-news" id="nome-news2" placeholder='Digite seu nome' value="">
                    </div>

                    <div class="campo-email">
                        <span id="email-news2-tooltip">email</span>
                        <label for="email-news2"><i class="fa fa-envelope-o" aria-hidden="true"></i></label>
                        <input type="text" class="input-news" id="email-news2" placeholder='Digite seu e-mail' value="">
                    </div>

                    <button id="botao-news2">
                        <span id="news-tooltip2"></span>
                        <i class="fa fa-envelope"></i>Cadastrar
                    </button>

                </fieldset>
            </div>
        </div>
        <div id="div-conteudo" class="col-xs-12">
            <div class="TitPagina"><h1><!--##TIT_PAGE##--></h1></div>
            <div class="DivMioloConteudo2"><!--##CONTEUDO_LOJA##--></div>
        </div>
        <div id="div-barra-direita" class="hidden"><!--###BARRA_DIREITA###--></div>
    </div>
</section>

<!--###RODAPE###-->

<!--###COMPLEMENTO###-->