/*PRODUTOS DESTAQUE*/
#prod-destaque {
	margin: 0 0 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#destaque-list{
	visibility: hidden;
	opacity: 0;
}
#destaque-list .list-item {
	padding: 0;
}
#prod-destaque .div-item {
	margin: 0 0.5rem 1rem;
	overflow: hidden;
	padding: 1rem;
}
#prod-destaque .div-item .prod-img {
	float: left;
	width: 50%;
}
#prod-destaque .div-item .prod-info {
	float: left;
	padding: 1rem;
	text-align: left;
	width: 50%;
}
#prod-destaque .div-item .prod-info .prod-nome {
	font-size: 14px;
	text-align: left;
}
#prod-destaque .div-item .prod-info p {
	text-align: left;
}
#prod-destaque .div-item .prod-botao-comprar {
	text-align: left;
}
#prod-destaque .div-item .add {
	position: relative;
	overflow: hidden;
}
#prod-destaque .div-item .add span {
	background-color: #d7d7d7;
	box-shadow: none;
	color: #666;
	float: none;
	margin: 0;
}
#prod-destaque .prod-botao-comprar{
	position: absolute;
	bottom: 2rem;
	right: 2rem;
	width: 40%;
	width: calc(50% - 2rem);
}