/*HEADER*/
header{
	background-color: <!--###PREF_1###-->;
	color: <!--###PREF_4###-->;
}

header .topo{
	background-color: <!--###PREF_2###-->;
	height: 4rem;
	position: relative;
}
header .topo .telefone-topo{
	color: <!--###PREF_5###-->;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: bold;
	height: 4rem;
	line-height: 4rem;
}
header .topo .telefone-topo i {
	font-size: 1.6rem;
    padding-right: 5px;
}
header .logotipo {
	display: block;
	float: left;
	height: 11rem;
	margin: 0;
	width: 100%;
}
header .logotipo a {
	display: block;
	height: 100%;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	text-align: center;
	width: 100%;
}
header .logotipo a img{
	bottom: 0;
	display: block;
	height: auto;
	left: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

header fieldset {
	display: block;
	float: left;
	margin: 3rem 0;
	position: relative;
	width: 100%;
}
header fieldset input {
	background-color: white;
	border: 0;
    box-shadow: 0 0 20px 1px rgba(125,125,125,0.2);
	display: block;
	height: 5rem;
	line-height: 5rem;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
}
header fieldset button {
	background: none;
	border: 0;
	color: #333;
	display: block;
	font-size: 0;
	height: 5rem;
	line-height: 5rem;
	margin: 0;
	padding: 0 1rem;
	position: absolute;
	right: 0;
	top: 0;
}
header fieldset button i {
	display: block;
}
header fieldset button i:before {
	display: inline-block;
	font-size: 2rem;
	height: 5rem;
	line-height: 5rem;
}
header .topo .social-topo {
    float: right;
    display: block;
}
header .topo .social-topo li {
    display: inline-block;
}
header .topo .social-topo .fa-stack-2x {
    opacity: 0;
    transition: 0.2s ease;
}
header .topo .social-topo li:hover .fa-stack-2x {
    opacity: 1;
}

#slider{
	display: none;
}
.homepage #slider{
	display: block;
}
.homepage #menu-hidden {
    display: none;
}
#menu-hidden {
    background-color: <!--###PREF_13###-->;
}
#menu-hidden > a {
	color: <!--###PREF_8###-->!important;
}

.header-icons {
	display: block;
	float: left;
	height: 5rem;
	line-height: 5rem;
	margin: 3rem 0;
	text-align: right;
	width: 100%;
}
.header-icons > a,
.header-icons > div{
	cursor: pointer;
	display: block;
	float: right;
	height: 5rem;
	line-height: 5rem;
	margin: 0 1rem;
	padding: 0;
	position: relative;
}
.header-icons > a .icon-chevron-left:before,
.header-icons > div .icon-chevron-left:before {
	padding: 2px;
	background: transparent;
	transition: 300ms ease;
}
.header-icons > a:hover .icon-chevron-left:before,
.header-icons > div:hover .icon-chevron-left:before {
    background-color: <!--###PREF_48###-->;
    border-radius: 50%;
    color: white;
    padding: 2px;
}
.header-icons .div-carrinho .icon-shopping-cart,
.header-icons .icon-user {
	display: inline-block;
	font-size: 2.6rem;
	height: 5rem;
	line-height: 5rem;
	position: relative;
}
.header-icons .div-carrinho .tooltip-carrinho {
	background-color: <!--###PREF_4###-->;
	border-radius: 50%;
	border: 1px solid #f3f3f3;
	color: #f3f3f3;
	font-family: monospace;
	font-size: 15px;
	height: 20px;
	line-height: 18px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: 0;
	width: 20px;
}
.header-icons .icon-chevron-left {
	display: block;
	float: left;
	font-size: 1.8rem;
	height: 5rem;
	line-height: 5rem;
	position: relative;
}

#lista-login {
    background-color: #62bfc4;
    color: white;
    max-width: 0px;
    overflow: hidden;
    padding: 1rem 0;
    position: absolute;
    right: 100%;
    top: 0;
    transition: 300ms ease;
    z-index: 99;
}
.div-user:hover #lista-login {
    max-width: 20rem;
}
#lista-login li a {
    height: 3rem;
    line-height: 3rem;
    padding: 0 2rem;
    width: 16rem;
}
#lista-login li a:hover{
	text-decoration: underline;
}
#lista-login li {
	line-height: normal;
}


/*BARRA FLUTUANTE*/
#barra-flutuante {
	background-color: <!--###PREF_1###-->;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.09);
	opacity: 0;
	padding: 0;
	position: fixed;
	top: -30%;
	transition: 0.2s ease;
	visibility: hidden;
	width: 100%;
	z-index: 999;
}
#barra-flutuante.active {
	opacity: 1;
	top: 0;
	visibility: visible;
}
#barra-flutuante nav {
	max-height: 0rem;
	margin: 0;
	overflow: hidden;
	display: block;
	position: relative;
	min-height: unset;
	transition: 0.2s ease;
}
#barra-flutuante nav.active{
	max-height: 10rem;
	overflow: visible;
}
#barra-flutuante #burguer-menu{
	cursor: pointer;
	display: block;
	float: left;
	margin: 1rem 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 4rem;
}
#barra-flutuante #burguer-menu i {
	color: <!--###PREF_4###-->;
	display: inline-block;
	font-size: 2rem;
	line-height: 4rem;
	padding: 0;
	position: relative;
	text-align: center;
	width: 4rem;
}
#barra-flutuante .logotipo {
	display: block;
	float: left;
	height: 6.2rem;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 16rem;
}
#barra-flutuante .logotipo > a {
	display: block;
	height: 100%;
	padding: 0;
	position: relative;
	width: 100%;
}
#barra-flutuante .logotipo img {
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 0.5rem;
	position: absolute;
	right: 0;
	top: 0;
}
#barra-flutuante .input-busca {
	background-color: #fff;
	border: 0;
	font-size: 1.2rem;
	line-height: 4rem;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
}
#barra-flutuante .botao-busca {
	background: none;
	border: 0;
	color: #333;
	display: block;
	font-size: 0;
	height: 4rem;
	line-height: 4rem;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#barra-flutuante .botao-busca i {
	display: block;
	float: left;
	font-size: 1.5rem;
	line-height: 4rem;
	margin: 0;
	padding: 0;
	width: 4rem;
}
#barra-flutuante fieldset {
	display: block;
	float: left;
	margin: 1rem 0;
	padding: 0;
	position: relative;
	width: 70%;
	width: calc(100% - 28rem);
}
#barra-flutuante fieldset.sem-carrinho {
	width: calc(100% - 27rem);
}
#barra-flutuante .div-carrinho {
	display: block;
	float: right;
	margin: 1rem 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 8rem;
}
#barra-flutuante .div-carrinho span{
	color: <!--###PREF_4###-->;
	font-size: 2rem;
	line-height: 4rem;
	padding: 0;
	position: relative;
	text-align: center;
	width: 4rem;
}
#barra-flutuante .link-menu {
	float: left;
	width: 8rem;
	text-align: center;
	margin: 3rem 0;
	height: 4rem;
	display: inline-block;
}
#barra-flutuante .link-menu span {
	line-height: 4rem;
	width: 100%;
	font-size: 2rem;
	color: <!--###PREF_4###-->;
}



/*MEDIAS*/
@media screen and (max-width: 767px){
	#barra-flutuante fieldset {
		width: 48%;
		width: calc(100% - 32rem - 4px);
	}
}
@media screen and (max-width: 480px){
	#barra-flutuante fieldset{
		display: none;
	}
	.PageCheckout #barra-flutuante .logotipo, #barra-flutuante .logotipo{
		width: calc(100% - 16rem)!important;
		margin: 0;
	}
}
@media screen and (max-width: 374px){
	#barra-flutuante fieldset {
		margin-left: 2rem;
		width: calc(100% - 12rem - 4px);
	}
}
@media (min-width: 1400px) {
	.container {
		width: 1400px;
	}
}	

/*PLACEHOLDER PRODUTO*/
.prod-fake .prod-img a{
	background-color: #f2f2f2;
}
.prod-fake .prod-img a img{
	max-height: 50%;
	opacity: 0.5
}
.paginacao-ordem{
	float: left;
	width: 100%;
}
.paginacao-select select,
.lista-grade a{
    border-radius: 0!important;
}

/*MEDIAS*/
@media screen and (max-width: 767px){
	.item-tipo-lista .prod-info{
		width: 55% 
	}
	.item-tipo-lista .prod-img{
		width: 45%;
	}
	footer #cnpj-footer{
		text-align: left;
		width: 100%;
	}
	.PageCheckout header{
		display: none;
	}
	.paginacao-ordem{
		font-size: 12px;
	}
	#preco-produto{
		margin-bottom: 1rem;
	}
	#preco-produto > p{
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 480px){
	.div-item .add span.prod-lancamento{
		float: right;
	}
	#lista-parcelas{
		column-count: 1;
	}
}
@media screen and (max-width: 374px){
	.list-item.col-xs-6{
		width: 100%;
	}
}
@media screen and (max-width: 991px){
	.newsletter-footer fieldset > div {
		margin-bottom: 1rem;
	}
	footer .footer-content .contato{
		clear: left;
	}
	footer .footer-content .institucional{
		clear: both;
	}
}
#banner-mini,
#banner-tarja,
#banner-topo {
    margin: 2rem 0 0;
}
#heading {
    background-color: <!--###PREF_1###-->;
    margin-bottom: 2rem;
    position: relative;
}
#heading:before {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 50%;
    margin-left: 300px;
    content: "";
    width: 400px;
    height: 200%;
    background: <!--###PREF_48###-->;
    -webkit-transform: translate(-50%,-50%) skewX(-23deg);
    transform: translate(-50%,-50%) skewX(-23deg);
    z-index: 0;
}
nav.menu-topo {
    background-color: <!--###PREF_12###-->b3;
    position: relative;
}

#slider{
	margin: 0;
    padding: 0 0 2rem;
}
.div-item .prod-mais,
.div-item .prod-info .prod-fabricante{
	display: none;
}

#banner-section {
    background-color: <!--###PREF_1###-->;
    margin-bottom: 4rem;
    padding: 2rem 0;
    position: relative;
    overflow: hidden;
}
#banner-section:before {
    background: <!--###PREF_13###-->;
    content: "";
    display: inline-block;
    height: 200%;
    left: 20%;
    margin-left: 300px;
    position: absolute;
    top: 0;
    transform: translate(-50%,-50%) skewX(23deg);
    -webkit-transform: translate(-50%,-50%) skewX(23deg);
    width: 400px;
    z-index: 0;
}

#banner-rodape {
	display: block;
	margin: 0 -2.5rem 0 -2.5rem;
	overflow: hidden;
	text-align: center;
}
#banner-rodape > a{
    display: block;
    float: left;
    padding: 2rem;
    position: relative;
}
#banner-rodape > a:nth-child(1) {
    width: calc(100% / 3 * 2);
}
#banner-rodape > a:nth-child(2) {
    width: calc(100% / 3);
}
#banner-rodape img {
    height: auto;
    width: 100%;
}
.categorias-lateral{
	margin: 2rem 0 0;
}
#fabricantes .fa-angle-left:before {
	bottom: 1px;
	content: "\f104";
	display: block;
	font-size: 4rem;
	line-height: 4rem;
	position: relative;
	right: 1px;
	text-align: center;
	width: 100%;
}
#fabricantes .fa-angle-right:before {
	bottom: 1px;
	content: "\f105";
	display: block;
	font-size: 4rem;
	left: 1px;
	line-height: 4rem;
	position: relative;
	text-align: center;
	width: 100%;
}
.slick-dots li {
	background: none;
	cursor: pointer;
	display: inline-block;
	height: 3rem;
	margin: 0;
	overflow: hidden;
	padding: 1rem;
	transition: 200ms ease;
	width: 4rem;
}
.slick-dots li:hover{
	background-color: #f2f2f2;
}
.paginacao-select select, .lista-grade a {
    border-radius: 0!important;
}

.news-lateral,
#menu-lateral {
    border-radius: 0;
}
.news-lateral .newsletter-titulo p,
#menu-lateral .menu-title h3 {
    background-color: <!--###PREF_48###-->;
    color: white;
}

.news-lateral button{
	background-color: <!--###PREF_41###-->;
}