/*HEADER*/
header{
	background-color: <!--###PREF_1###-->;
	color: <!--###PREF_4###-->;
}
header .topo a, header .topo p {
	color: <!--###PREF_4###-->;
	display: inline-block;
	font-size: 1.2rem;
	line-height: 2rem;
	margin: 0;
	padding: 0;
	transition: 0.2s ease;
}
header .topo a:hover {
	text-decoration: underline;
}
header .topo a i, header .topo p i {
	font-size: 1.5rem;
	line-height: 2rem;
	padding: 0 0.5rem;
	position: relative;
	bottom: -1px;
}
header .topo .login-cadastro {
	font-size: 1.2rem;
	float: left;
	display: inline-block;
	line-height: 2rem;
	margin: 1rem 0;
}
header .topo .conta-lista {
	display: inline-block;
	float: right;
	margin: 1rem 0;
}
header .topo .telefone-topo {
	margin: 1rem 0;
	display: block;
	float: left;
	width: 21rem;
}
header .topo .telefone-topo a{
	font-size: 1.4rem;
	font-weight: 600;
}
header .topo .links-topo {
	float: left;
	display: block;
	width: 50%;
	width: calc(100% - 21rem);
}
header fieldset{
	display: block;
	float: left;
	margin: 0 0 2rem 0;
	padding: 0;
	position: relative;
	width: 50%;
	width: calc(100% - 21rem);
}
header fieldset.sem-carrinho{
	width: 100%;
}
header .input-busca {
	background-color: white;
	border: 1px solid #d7d7d7;
	border-right: 0;
	border-radius: 4px;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	color: #666;
	display: block;
	font-size: 1.2rem;
	float: left;
	line-height: 4rem;
	margin: 0;
	padding: 0 1rem;
	width: calc(100% - 4.2rem);
}
header .botao-busca {
	background-color: <!--###PREF_2###-->;
	border: 1px solid <!--###PREF_2###-->;
	color: <!--###PREF_5###-->;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: block;
	font-size: 0;
	float: left;
	margin: 0;
	padding: 0;
	width: 4.2rem;
}
header .botao-busca i{
	display: block;
	float: left;
	font-size: 1.5rem;
	height: 4rem;
	line-height: 4rem;
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
}
header .logo-holder{
	overflow: hidden;
}
header .logotipo {
	height: 10.8rem;
	margin: 0;
}
header .logotipo a {
	display: block;
	height: 100%;
	overflow: hidden;
	padding: 1rem;
	position: relative;
	text-align: center;
	width: 100%;
}
header .logotipo a img{
	bottom: 0;
	display: block;
	height: auto;
	left: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 1rem;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}
header .div-carrinho {
	color: #666;
	display: inline-block;
	float: right;
	margin: 0 0 2rem;
	position: relative;
	width: 19rem;
}
header .div-carrinho .fa-shopping-cart {
	background-color: <!--###PREF_2###-->;
	border: 1px solid <!--###PREF_2###-->;
	border-radius: 4px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	color: <!--###PREF_5###-->;
	display: block;
	float: left;
	font-size: 1.5rem;
	height: calc(4rem + 2px);
	line-height: 4rem;
	padding: 0;
	text-align: center;
	width: 4.2rem;
}
header .div-carrinho .cart-content {
	background-color: white;
	border: 1px solid #d7d7d7;
	border-left: 0;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	display: block;
	float: left;
	padding: 0.5rem;
	width: calc(100% - 4.2rem);
}
header .div-carrinho p {
	font-size: 1.2rem;
	height: 1.5rem;
	line-height: 1.5rem;
	margin: 0;
}
header .div-carrinho .carrinho-texto {
	font-weight: 600;
}
#link-user {
	display: inline-block;
	font-size: 1.2rem;
	line-height: 2rem;
}
header .topo .conta-lista a, #user-nome{
	font-weight: 600;
}
#link-meus-pedidos, #link-cadastro{
	margin: 0 0 0 1rem;
}
header #LV_CARRINHO_ON_PAGE {
	background-color: white;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	color: #333;
	min-width: 50rem;
	opacity: 0;
	padding: 1rem;
	position: absolute;
	right: -1px;
	top: 20rem;
	transition: top 0.3s ease, opacity 0.2s ease, visibility 0.1s ease;
	transition-delay: 0s, 0s, 0.1s;
	visibility: hidden;
	width: 100%;
	z-index: 99;
}
header .div-carrinho:hover #LV_CARRINHO_ON_PAGE {
	opacity: 1;
	top: 100%;
	transition: top 0.3s ease, opacity 0.2s ease;
	visibility: visible;
}
header #LV_CARRINHO_ON_PAGE img {
	display: none;
}
header #LV_CARRINHO_ON_PAGE .CarOnPageTotal {
	background-color: #d2d2d2;
	color: black;
	display: inline-block;
	float: left;
	line-height: 3rem;
	padding: 0 1rem;
	text-align: right;
	width: 100%;
}
header #LV_CARRINHO_ON_PAGE .TabelaCarOnPage {
	width: 100%;
}
header #LV_CARRINHO_ON_PAGE .DivCarOnPageBotoes {
	background-color: <!--###PREF_41###-->;
	border-radius: 4px;
	color: <!--###PREF_40###-->;
	display: inline-block;
	float: left;
	margin: 0.5rem 0 0;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
	transition: 0.3s ease;
	width: 100%;
}
header #LV_CARRINHO_ON_PAGE .DivCarOnPageBotoes:hover {
	opacity: 0.7;
}
header #LV_CARRINHO_ON_PAGE .DivCarOnPageBotoes a:hover{
	text-decoration: none;
}
header #LV_CARRINHO_ON_PAGE .CarOnPageTotal label {
	margin: 0;
}
header #LV_CARRINHO_ON_PAGE .CarOnPageTotal span {
	font-weight: 600;
	margin-right: 1rem;
}
tr.TrCarOnPage {
	background-color: #d2d2d2;
	color: black;
	line-height: 3rem;
}
tr.TrCarOnPage td {
	font-weight: 600;
	padding: 0 1rem;
	text-align: center;
}
span.CarOnPageCodigoProduto {
	display: block;
}
.DivDadosProdCarOnPage {
	font-size: 12px;
}



/*MEDIA*/
@media screen and (max-width: 991px){
	header .topo .telefone-topo{
		width: 15rem;
	}
	header .topo .links-topo{
		width: calc(100% - 15rem);
	}
	header .div-carrinho{
		padding: 0;
		width: 4rem;
	}
	header .div-carrinho .fa-shopping-cart{
		border-radius: 4px;
		border: 1px solid <!--###PREF_2###-->;
		top: 0;
	}
	header .div-carrinho{
		border: none;
	}
	header fieldset{
		width: 70%;
		width: calc(100% - 6rem);
	}
}
/*BARRA FLUTUANTE*/
#barra-flutuante {
	background-color: <!--###PREF_1###-->;
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.09);
	opacity: 0;
	padding: 0;
	position: fixed;
	top: -30%;
	transition: 0.2s ease;
	visibility: hidden;
	width: 100%;
	z-index: 999;
}
#barra-flutuante.active {
	opacity: 1;
	top: 0;
	visibility: visible;
}
#barra-flutuante nav {
	max-height: 0rem;
	margin: 0;
	overflow: hidden;
	display: block;
	position: relative;
	min-height: unset;
	transition: 0.2s ease;
}
#barra-flutuante nav.active{
	max-height: 10rem;
	overflow: visible;
}
#barra-flutuante #burguer-menu{
	cursor: pointer;
	display: block;
	float: left;
	margin: 1rem 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 4rem;
}
#barra-flutuante #burguer-menu i {
	color: <!--###PREF_4###-->;
	display: inline-block;
	font-size: 2rem;
	line-height: 4rem;
	padding: 0;
	position: relative;
	text-align: center;
	width: 4rem;
}
#barra-flutuante .logotipo {
	display: block;
	float: left;
	height: 6.2rem;
	margin: 0;
	overflow: hidden;
	padding: 0;
	text-align: center;
	width: 16rem;
}
#barra-flutuante .logotipo > a {
	display: block;
	height: 100%;
	padding: 0;
	position: relative;
	width: 100%;
}
#barra-flutuante .logotipo img {
	bottom: 0;
	left: 0;
	margin: auto;
	max-width: 100%;
	max-height: 100%;
	padding: 0.5rem;
	position: absolute;
	right: 0;
	top: 0;
}
#barra-flutuante .input-busca {
	background-color: white;
	border: 1px solid #d7d7d7;
	border-radius: 4px;
	font-size: 1.2rem;
	line-height: 4rem;
	margin: 0;
	padding: 0 1rem;
	width: 100%;
}
#barra-flutuante .botao-busca {
	background-color: <!--###PREF_2###-->;
	border: 1px solid <!--###PREF_2###-->;
	border-radius: 4px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	color: <!--###PREF_5###-->;
	display: block;
	font-size: 0;
	line-height: 4rem;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	top: 0;
}
#barra-flutuante .botao-busca i {
	display: block;
	float: left;
	font-size: 1.5rem;
	line-height: 4rem;
	margin: 0;
	padding: 0;
	width: 4rem;
}
#barra-flutuante fieldset {
	display: block;
	float: left;
	margin: 1rem 0;
	padding: 0;
	position: relative;
	width: 70%;
	width: calc(100% - 28rem);
}
#barra-flutuante fieldset.sem-carrinho {
	width: calc(100% - 27rem);
}
#barra-flutuante .div-carrinho {
	display: block;
	float: right;
	margin: 1rem 0;
	padding: 0;
	position: relative;
	text-align: center;
	width: 8rem;
}
#barra-flutuante .div-carrinho .fa-shopping-cart {
	color: <!--###PREF_4###-->;
	font-size: 2rem;
	line-height: 4rem;
	padding: 0;
	position: relative;
	text-align: center;
	width: 4rem;
}
#barra-flutuante .link-menu {
	float: left;
	width: 8rem;
	text-align: center;
	margin: 3rem 0;
	height: 4rem;
	display: inline-block;
}
#barra-flutuante .link-menu span {
	line-height: 4rem;
	width: 100%;
	font-size: 2rem;
	color: <!--###PREF_4###-->;
}



/*MEDIAS*/
@media screen and (max-width: 767px){
	#barra-flutuante fieldset {
		width: 48%;
		width: calc(100% - 32rem - 4px);
	}
}
@media screen and (max-width: 480px){
	#barra-flutuante fieldset{
		display: none;
	}
	.PageCheckout #barra-flutuante .logotipo, #barra-flutuante .logotipo{
		width: calc(100% - 16rem)!important;
		margin: 0;
	}
}
@media screen and (max-width: 374px){
	#barra-flutuante fieldset {
		margin-left: 2rem;
		width: calc(100% - 12rem - 4px);
	}
}
/*PLACEHOLDER PRODUTO*/
.prod-fake .prod-img a{
	background-color: #f2f2f2;
}
.prod-fake .prod-img a img{
	max-height: 50%;
	opacity: 0.5
}

/*MEDIAS*/
@media screen and (max-width: 767px){
	.item-tipo-lista .prod-info{
		width: 55% 
	}
	.item-tipo-lista .prod-img{
		width: 45%;
	}
	footer #cnpj-footer{
		text-align: left;
		width: 100%;
	}
	.PageCheckout header{
		display: none;
	}
}
@media screen and (max-width: 480px){
	#lista-parcelas{
		column-count: 1;
	}
}
@media screen and (max-width: 374px){
	.list-item.col-xs-6{
		width: 100%;
	}
}
@media screen and (max-width: 991px){
	.newsletter-footer fieldset > div {
		margin-bottom: 1rem;
	}
	footer .footer-content .contato{
		clear: left;
	}
	footer .footer-content .institucional{
		clear: both;
	}
}

/*ANIMACOES E EFEITOS*/
#barra-flutuante #burguer-menu:hover,
#barra-flutuante .div-carrinho:hover,
#botao-news:hover,
.botao-busca:hover,
.div-carrinho:hover .fa-shopping-cart,
.div-item .prod-botao-comprar span a:hover{
	opacity: 0.8!important;
}
#barra-flutuante #burguer-menu,
#botao-news,
.botao-busca,
.div-carrinho .fa-shopping-cart,
.div-item .prod-botao-comprar span a{
	will-change: opacity;
}
#botao-news,
.botao-busca,
.div-carrinho .fa-shopping-cart,
.div-item .prod-botao-comprar span a{
	transition: 150ms ease;
}